<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.

    -->
    <link rel="stylsheet" type="text/css" href="styles/bootstrap-theme.min.css" />
    <link rel="stylsheet" type="text/css" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="styles/style.css" media="all">


    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <header>
            <div class="in cl">
                <section class="headLogo cl">
                    <a href=""><img src="images/logo.png"></a>
                </section><!-- / .headLine -->                

                <section class="headMenu cl">
                    <ul>
                        <li><a href="" class="redBtn">Sign up</a></li>
                        <li><a href="">about us</a></li>
                        <li><a href="">contact</a></li>
                    </ul>

                </section><!-- / .headMain -->                
            </div>
    </header>
    <%- body %>

    <div style="padding-left:20px; padding-bottom:20px">
      <ul>
        Site map<br/>
        <li><a href="/profile_edit"> Edit Profile</a></li><br/>
        <li><a href="/profile">Profile</a> </li><br/>
        <li><a href="/profile_list"> Profile List</a></li><br/>
        <li><a href="/meetup_edit"> Create Meetup</a></li><br/>
        <li><a href="/meetups">Meetup </a> </li><br/>
        <li><a href="/meetup_list"> Meetup List</a></li><br/>   
      </ul>
    </div>
    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>
    
    <script type='text/javascript' src='js/jquery.min.js'></script>

    <script type='text/javascript' src='js/knockout-latest.js'></script>

    <script type='text/javascript' src='js/viewModel.js'></script>

    <script type='text/javascript' src='js/bootstrap.min.js'></script>

    <script type='text/javascript' src="js/jquery-1.9.1.min.js"></script>
    
    <script type='text/javascript' src="js/common.js"></script>

    <script src="js/jquery.bottom-1.0.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".contents").bottom({proximity: 0.05});
            $(".contents").bind("bottom", function() {
                var obj = $(this);
                // this event could be triggered multiple times
                // while waiting for the content to grow or the area to be scrolled
                if (!obj.data("loading")) {
                    // use a variable to skip processing until we get more data
                    obj.data("loading", true);

                    $('#wrap ol').append('<li>Loading...</li>');
                    // Use setTimeout to simulate an ajax call
                    setTimeout(function() {
                        $('#wrap ol li:last').remove();
                        $('#wrap ol').append('<li>Not just another item</li><li>Not just another item</li><li>Not just another item</li>');
                        obj.data("loading", false);
                    }, 1500);
                }
            });
            $(window).bottom();
            $(window).bind("bottom", function() {

                for (cnt = 0; cnt < 3; cnt++) {

                    fileName = Math.floor(Math.random() * 6) + 1;
                    $("#list").append('<li class="flL mb30"><a href="/test/pawsmeetup/preview/meetup" class="over mr20"><img src="images/meetup' + fileName + '.png" ><p class="mt10 mb10 fs16 fwB"><span class="mr20">参加者</span><span class="mr20">99 / 100</span></p><p class="mb20 fwB fs14 grayColor">Oct.5 2014</p></a></li>');
                    fileName = Math.floor(Math.random() * 6) + 1;
                    $("#list").append('<li class="flL mb30"><a href="/test/pawsmeetup/preview/meetup" class="over mr20"><img src="images/meetup' + fileName + '.png" ><p class="mt10 mb10 fs16 fwB"><span class="mr20">参加者</span><span class="mr20">99 / 100</span><span class="limit">残り1名</span></p><p class="mb20 fwB fs14 grayColor">Oct.5 2014</p></a></li>');
                    fileName = Math.floor(Math.random() * 6) + 1;
                    $("#list").append('<li class="flL mb30"><a href="/test/pawsmeetup/preview/meetup" class="over"><img src="images/meetup' + fileName + '.png" ><p class="mt10 mb10 fs16 fwB"><span class="mr20">参加者</span><span class="mr20">99 / 100</span><span class="limit">残り1名</span></p><p class="mb20 fwB fs14 grayColor">Oct.5 2014</p></a></li>');
                }

            });
        });

    </script>


    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
