

				
        <div class="wrap cl">

            <!-- FlexSlider -->
            <script defer src="js/jquery.flexslider.js"></script>

            <script type="text/javascript">
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function(slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <div class="mainVisual mb30" style="background: url('/images/mainvisual.png')">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="images/mainvisual.png" ></li>
                        <li><img src="images/mainvisual.png" ></li>
                        <li><img src="images/mainvisual.png" ></li>
                        <li><img src="images/mainvisual.png" ></li>
                        <li><img src="images/mainvisual.png" ></li>
                    </ul>
                </div>
                <h1>
                    ペットの散歩をより楽しくするMeetup<br>
                    愛犬家たち同士のつながりを築く出逢いの場。
                </h1>
                <div class="entryForm">
							    <form action="auth/login" method="post" >
							    <ul>
							         <li><input name="email" type="text" placeholder="email" class="entryFormInput"/></li>
							         <li><input name="password" type="password" placeholder="password" class="entryFormInput"/> </li>
							         <li><input type="submit" value="Meetupを探す" class="formLink"/> </li>
							    </ul>
							    </form>
                </div>
            </div>

						<div class="contents in">
                <ul class="cl" id="list">
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup7.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup8.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over">
                            <img src="images/meetup9.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup5.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup6.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over">
                            <img src="images/meetup1.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup2.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over mr20">
                            <img src="images/meetup3.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/meetups" class="over">
                            <img src="images/meetup4.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/test/pawsmeetup/preview/meetup" class="over mr20">
                            <img src="images/meetup5.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/test/pawsmeetup/preview/meetup" class="over mr20">
                            <img src="images/meetup6.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                    <li class="flL mb30">
                        <a href="/test/pawsmeetup/preview/meetup" class="over">
                            <img src="images/meetup1.png" >
                            <p class="mt10 mb10 fs16 fwB">
                                <span class="mr20">参加者</span>
                                <span class="mr20">99 / 100</span>
                                <span class="limit">残り1名</span>
                            </p>
                            <p class="mb20 fwB fs14 grayColor">Oct.5 2014</p>
                        </a>
                    </li>
                </ul>

                <div id="reading" class="taC "><img src="images/loading.gif" ></div>

            </div><!-- /.contents -->




        </div>


    </div>

