<div class="container">

  <div style="width: 100%; background: src('/images/meetup.png'); background-position: cover;">

  <div>

  <div class="footer">
    <p>&copy; Copyright Paws Meetup 2014</p>
  </div>
  <br/>

</div> <!-- /container -->

