<div class="container">

  <div>
    <img src="/images/meetup.png" style="horizontal-align: center;">
  </div>

  <div class="footer">
    <p>&copy; Copyright Paws Meetup 2014</p>
  </div>
  <br/>

</div> <!-- /container -->

