<div class="container">

  <div class="jumbotron">
    <h1>Profiles</h1>
    <p>
        <form action="/user/edit" method="post" class="navbar-form">
            <div class="form-group">
            	profile list
            </div>
        </form>

    </p>
  </div>

  <div class="footer">
    <p>&copy; Copyright Paws Meetup 2014</p>
  </div>
  <br/>

</div> <!-- /container -->

