<div class = "container-fluid">
    <div class = "row">
        
    </div>
</div>



<div class="container">

  <div class="jumbotron">
    <h1>Edit Profile</h1>
    <p>
        <form action="/user/edit" method="post" class="navbar-form">
            <div class="form-group" style="font-size: 16px;">
            <br/>
            <br/>
                email:<br/><br/>
                <input name="email" type="text" placeholder="email"/><br/><br/>
                name:<br/><br/>
                <input name="firstName" type="text" placeholder="first"/><br/><br/>
                <input name="lastName" type="text" placeholder="last"/><br/><br/>
                about me:<br/><br/>
                <input name="bio" type="text" placeholder="My pet experience"/><br/><br/>
                my pet's name:<br/><br/>
                <input name="dogName" type="text" placeholder="Pet's Name"/><br/><br/>
                about my pet:<br/><br/>
                <input name="dogAge" type="integer" placeholder="Pet's Age"/><br/><br/>
                <input name="dogGender" type="text" placeholder="Pet's Gender"/><br/><br/>
                <input name="dogBreed" type="text" placeholder="Pet's Breed"/><br/><br/>
                <input name="dogBio" type="text" placeholder="Pet's Story!"/><br/><br/><br/>
                <input type="submit" value="update profile" class="btn btn-default"/>
            </div>
        </form>

    </p>
  </div>

  <div class="footer">
    <p>&copy; Copyright Paws Meetup 2014</p>
  </div>
  <br/>

</div> <!-- /container -->

